<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Booklist</title>
</head>
<body>
    <h1>Список книг</h1>
    <form action="/books" method="GET">
        <label for="name">Фильтр по названию:</label><input type="text" id="name" name="name" value="">
        <input type="submit" value="Применить">
    </form>
    <table style="width: 100%" border="1" role="grid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Book</th>
            </tr>
        </thead>
        <tbody>
            {data}
        </tbody>
    </table>
</body>
</html>